<?xml version="1.0" encoding="UTF-8"?>
<!--
 Define the spring platform
-->

<platform>
    <!--
    Spring platform jars
    -->
    <capability name="Spring" common="yes">
        <description>Spring Framework</description>
        <version>2.5</version>
        <manufacturer>Interface21</manufacturer>
        <classpath>${RIO_HOME}/lib/spring
                   ${RIO_HOME}/lib/jakarta-commons</classpath>        
    </capability>
    
</platform>
