import com.sun.jini.outrigger.snaplogstore.LogStore;
import net.jini.id.UuidFactory;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

com.sun.jini.outrigger {
    initialLookupGroups = new String[] { "rio" };
    persistenceDirectory = "../logs/outrigger.log";
    store = new LogStore(this);
    serverExporter = new BasicJeriExporter(
	TcpServerEndpoint.getInstance(9210),
	new BasicILFactory(),
	false,
	true,
	UuidFactory.create("01234567-89ab-cdef-0123-456789abcdef"));
}




