import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

com.sun.jini.start {
    private static basecodebase = "http://" + ConfigUtil.getHostName() +
        ":9010/";
    private static codebase = basecodebase + "outrigger-dl.jar " +
         basecodebase + "outrigger-snaplogstore.jar " +
         basecodebase + "jsk-dl.jar";

    private static policy = "../policy/policy.all";
    private static classpath = "../lib/outrigger.jar;../lib/apache-river/lib/outrigger-snaplogstore.jar";
    private static config = "../config/persistent-outrigger.config";

    static serviceDescriptors = new ServiceDescriptor[] {
	new NonActivatableServiceDescriptor(
	    codebase, policy, classpath,
	    "com.sun.jini.outrigger.PersistentOutriggerImpl",
	    new String[] { config })
    };
}

