import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

// Starts up Blitz in non-activatable mode with an embedded httpd to save
// starting it up separately from the command-line.  Several people suggested
// this change:  Ussama Baggili, Olaf Bergner.
//
com.sun.jini.start {
        private static codebasePort = "9010";

        private static codebase = ConfigUtil.concat(new Object[] {
            "http://", ConfigUtil.getHostName(), ":", codebasePort, "/", "blitz-dl.jar"});

        // The directory where you installed Blitz
        //
        private static blitzRoot = "C:/IvoryCloud/";

        // Should be updated by installer
        // JINI 2.0 libs should be in this directory
        private static jiniRoot = blitzRoot + "apache-river/";
        private static jiniLibRoot = jiniRoot + "lib/";
        private static jiniDLRoot = blitzRoot + "lib-dl/";

        // Should be edited to point at the directory containing the je.jar
        //
        //private static dbLib = blitzRoot + "lib/je.jar";


        private static blitzLib = ConfigUtil.concat(new Object[] {
                                    blitzRoot, "lib/"
                                  });

	 //   private static otherLib = ConfigUtil.concat(new Object[] {
	   //                             blitzRoot, "thirdpartylib/"
	     //                         });

        private static separator = System.getProperty("path.separator");

        static classpath = ConfigUtil.concat(new Object[] {
            jiniLibRoot, "jsk-lib.jar",separator,jiniLibRoot,"sun-util.jar",separator,blitzLib,"je.jar",separator,blitzLib,"backport-util-concurrent60.jar",separator,blitzLib,"blitz.jar"});

        private static config = ConfigUtil.concat(new Object[] {
            blitzRoot, "config/blitz.config"});

        private static policy = ConfigUtil.concat(new Object[] {
            blitzRoot, "config/policy.all"});

        //Reggie
        private static reggieCodebase=ConfigUtil.concat(new Object[] {
            "http://", ConfigUtil.getHostName(), ":" + codebasePort + "/reggie-dl.jar",
            " http://", ConfigUtil.getHostName(), ":" + codebasePort + "/jsk-dl.jar"});

        private static reggieClasspath=jiniLibRoot + "reggie.jar";
        private static reggiePolicy="policy/policy.all";
        private static reggieConfig="config/reggie.config";

        //Mahalo
        private static mahaloCodebase=ConfigUtil.concat(new Object[] {
            "http://", ConfigUtil.getHostName(), ":" + codebasePort + "/mahalo-dl.jar",
            " http://", ConfigUtil.getHostName(), ":" + codebasePort + "/jsk-dl.jar"});

        private static mahaloClasspath=jiniLibRoot + "mahalo.jar";
        private static mahaloPolicy="policy/policy.all";
        private static mahaloConfig="config/mahalo.config";

         //service descriptors   
        static serviceDescriptors = new ServiceDescriptor[] {
                //jini httpd
                 new NonActivatableServiceDescriptor(
                     "",
                     policy,
                     ConfigUtil.concat(new Object[] {jiniLibRoot, "tools.jar"}),
                     "com.sun.jini.tool.ClassServer",
                     new String[]{"-port",
                     codebasePort,
                     "-dir", 
                     jiniLibDLRoot,
                     "-verbose"}),

                //reggie
                new NonActivatableServiceDescriptor(
                    reggieCodebase, reggiePolicy, reggieClasspath,
                    "com.sun.jini.reggie.TransientRegistrarImpl",
                    new String[] { reggieConfig }),

                //mahalo
                new NonActivatableServiceDescriptor(
                    mahaloCodebase, mahaloPolicy, mahaloClasspath,
                    "com.sun.jini.mahalo.TransientMahaloImpl",
                    new String[] { mahaloConfig }),


                 // httpd
                 new NonActivatableServiceDescriptor(
                 "",
                 policy,
                 ConfigUtil.concat(new Object[] {jiniLibRoot, "tools.jar"}),
                 "com.sun.jini.tool.ClassServer",
                 new String[]{"-port",
                 codebasePort,
    			 "-dir", 
                 blitzLib,
		    	 "-verbose"}),

                 // Blitz
                 new NonActivatableServiceDescriptor(
                        codebase, policy, classpath,
                        "org.dancres.blitz.remote.BlitzServiceImpl",
                         new String[] { config }
        )};
}
